<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="LuxmedTest">

	<test verbose="2" name="MyTests">
		<classes>
			<class name="org.Test.TestTest.LuxmedPacjentPediatraAgnieszkaZubrzycka" />
			<class name="org.Test.TestTest.TestLuxmedPacjentPediatriaAllSpecialists" />
		</classes>
	</test>
</suite>